/* color palette from <https://github.com/vuejs/theme> */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@100;400;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;
  --main-subtitle: #b5b5c3;
  --main-title: #212121;
  --main-yellow: #d1c20a;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: #f5f5f5;
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
  outline: none !important;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.subtitle {
  color: var(--main-subtitle);
}

.title {
  color: var(--main-title);
}

.yellow {
  background: var(--main-yellow);
  color: #fff;
}

.shadow-davdsm {
  box-shadow: 89px 103px 67px rgba(0, 0, 0, 0.03),
    32.5px 37.6px 21.4px rgba(0, 0, 0, 0.02),
    15.8px 18.3px 9px rgba(0, 0, 0, 0.017),
    7.7px 8.9px 3.6px rgba(0, 0, 0, 0.013),
    3.1px 3.5px 1.1px rgba(0, 0, 0, 0.009);
}

.entry {
  opacity: 0;
  transform: translateY(30px);
  transition: all 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-name: entry;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.delay {
  animation-delay: 0.1s;
}
table tr:nth-child(even) {
  background-color: rgb(249 250 251);
}

@keyframes entry {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
